* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#img1 {
  width: 100%;
  height: auto;
  max-width: 500px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 30px gray;
}
.conteiner {
  display: flex;
  border-radius: 0px 10px 40px 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  max-width: 500px;
  height: 500px;
  box-shadow: 5px 5px 30px gray;
  background: linear-gradient(45deg, rgb(0, 0, 0), rgb(255, 204, 0));
}

#input_password {
  background-color: rgb(255, 255, 19);
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50%;
  border: none;
  box-shadow: 4px 4px 4px rgba(19, 61, 62, 0.442);
  border-radius: 4px;
}
input::placeholder {
  color: #043d3a;
  opacity: 1;
}

#input_txt {
  background-color: rgb(255, 255, 19);
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50%;
  border: none;
  box-shadow: 4px 4px 4px rgba(19, 61, 62, 0.442);
  border-radius: 2px;
}
#title {
  text-align: center;
  justify-content: center;
  width: 80%;
  display: flex;
  font-size: 16pt;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  align-self: center;
  padding: 20px;
}

.label_txt {
  display: flex;
  color: antiquewhite;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 15pt;
}
#button_enter {
  display: flex;
  width: 400px;
  height: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: large;
  border: none;
  border-radius: 5px;
  background-color: rgb(1, 9, 45);
  color: #ffffff;
}
#button_enter:hover {
  cursor: pointer;
  background-color: rgb(18, 45, 167);
  color: rgb(255, 255, 255);
  border: 2px;
}
#Forgotten_pass,
.input_question {
  display: flex;
  text-decoration: none;
  align-items: end;
  justify-content: end;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  font-size: medium;
  margin-top: 5px;
}
#Forgotten_pass:hover {
  text-decoration: none;
  cursor: pointer;
  scale: 101%;
  color: rgba(235, 255, 121, 0.982);
}
.input_password_conteiner {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 500px;
  width: 100%;
  height: 20%;
}
.input_user_conteiner {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 500px;
  width: 100%;
  height: 20%;
}
#link_cadastro {
  cursor: pointer;
  color: rgba(235, 255, 121, 0.982);
  margin-left: 4px;
  scale: 105%;
  margin-left: 15px;
}

