@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body {
  background-color: #2c3e50;
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* título */
header {
  color: #1a1a1a;
  text-align: center;
  padding: 20px;
  gap: 10px;
  font-size: 1.2rem;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
}

input::placeholder {
  color: #666;
}

.conteiner {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 90%;
  padding: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
h2 {
  font-size: 15pt;
  padding: 10px;
}
/* campo nome e email */
.name_email {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name_email > a {
  color: #0066cc;
  text-align: end;
  text-decoration: none;
  font-size: 0.9rem;
}

.name_email > a:hover {
  text-decoration: underline;
}

/* div com os inputs */
.input_group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input_group > input {
  background-color: #ffffff;
  color: #1a1a1a;
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 10px;
  outline: none;
}

/* informações adicionais */
fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  border: none;
}

.date_gender {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input[type="date"],
select {
  border: 1px solid #555;
  color: #1a1a1a;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0.8;
  cursor: pointer;
}

.terms {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.btn_cadastrar,
.terms_check,
.tem_conta {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn_cadastrar > button {
  color: #ffffff;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  background-color: #2c3e50;
  width: 80%;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn_cadastrar > button:hover {
  background-color: #3498db;
}

.tem_conta a {
  color: #0066cc;
  text-decoration: none;
}

.tem_conta a:hover {
  text-decoration: underline;
}
.terms_check > label > em > a {
  text-decoration: none;
}
