#img_diamond {
  display: flex;
  width: 900px;
  align-items: center;
  justify-content: center;
}
#conteiner_1 {
  color: chocolate;
  display: flex;
  flex-direction: column;
  width: 900px;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 20px;
  font-size: 20pt;
}
#header_1 {
  background-color: beige;
  color: chocolate;
  font-size: 30pt;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  align-items: center;
  text-align: center;
}
#about_me {
  background-color: rgb(255, 255, 191);
  font-size: large;
  color: chocolate;
  display: flex;
  text-decoration: none;
  justify-content: center;
}
